@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2&family=Inconsolata:wght@200;300&family=Indie+Flower&family=Rubik&display=swap');
*{
    margin:0;
    padding:0;
    background-color:#F7F7F7;
    font-family: 'Baloo 2', cursive;
}

.navbar{
    
    background-color:#1e1e39 ;
}
.navbar img{
    height:100px;  
    margin-left:50px;
    cursor:pointer;
    background-color:#1e1e39 ;
    
}
section{
    background-color:#28bb28 ;
    display:flex;
    justify-content:center;
   
}
section p{
    padding:3px;
    font-size:20px;
    color:white;
    background-color:#28bb28;
}
article{
    display:flex;
    justify-content:center;
    align-items:center;
    height:600px;

}

.login-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    background: white;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }
form{
    background-color: white;
    
}
  .login-box h2 {
    margin-bottom: 20px;
    background-color: white;
  }

  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 12px 11px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    outline:none;
  }

  .login-box button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
  }